body{
    background: rgb(75, 75, 75);
    text-align: center;
}

#header{
    text-align: center;
    padding-top: 10px;
    background: rgb(138, 138, 138);
}

.strip{
    background: white;
    width: 100%;
    margin-top: -7px;
}
@media(min-width: 990px){
    .center> .row{
        margin-left: 12vw;
     }
}
/* #message{
    color: white;   
} */

.colbox{
    
    margin: 10px;
    height: 25vh;
}

.col-lg-3{
    border-radius: 10%;
}
#reset{
    font-weight: bold;
    font-family: monospace;
    background-color: rgb(175, 175, 175);
    padding: 4px;
    border-radius: 4px;
    margin: 2px;
    box-shadow: 0 2px 2px rgb(138, 138, 138);
}